<?xml version="1.0"?>
<config>
    <modules>
        <Medma_Removeallorder>
            <version>1.0.0</version>
        </Medma_Removeallorder>
    </modules>
	<admin>
        <routers>
			<removeallorder>
				<use>admin</use>
				<args>
					<module>Medma_Removeallorder</module>
					<frontName>removeallorder</frontName>
				</args>
			</removeallorder>
        </routers>
    </admin>
	<global>
		<blocks>
            <adminhtml>
                <rewrite>
					<sales_order>Medma_Removeallorder_Block_Adminhtml_Sales_Order</sales_order>
                </rewrite>
            </adminhtml>
        </blocks>
		
	</global>
</config>
